html,body{
    width: 100%;
    font-size: $font-size_default;
    color: $font-color_default;
    line-height: 1.7;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.container{
    max-width: $site-width;
    margin: 0 auto;
    padding: 80px $space_l 120px;
}


