html,body{
    width: 100%;
    font-size: $font-size_default;
    color: $font-color_default;
    line-height: 1.7;
}

img {
    width: 100%;
    vertical-align: bottom;
}

.container{
    max-width: $site-width;
    margin: 0 auto;
    padding: 80px $space_l 120px;
}

.contents-2column {
    display: flex;
}
.contents-2column-reverse {
    flex-direction: row-reverse;

    .sidebar__area {
        margin-left: $space_3l;
        padding: $space_4l $space_m;
        border: 2px solid $border-color_base;
        border-radius: 3px;
    }

    .main__area {
        margin: 0;
    }
}
.sidebar__area {
    width: 25%;
}

.main__area {
    width: 70%;
    margin-left: $space_3l;
}

