.category-list {

    &__item {
        position: relative;
        border-bottom: 1px solid $border-color_base;
    }
    &__link {
        display: block;
        padding: 10px 30px 10px 5px;
    }
    .btn-delete {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
}

.form-category {
    margin-top: $space_3l;

    .form__input {
        width: 75%;
        padding: 5px;
        border: 3px solid $border-color_base;
        border-radius: 3px;
    }

    .btn-add {
        display: inline-block;
        width: 43px;
        height: 43px;
        border: 3px solid $border-color_base;
        border-radius: 3px;
        text-align: center;
    }
}