.form {
    max-width: $form-width;
    margin: $space_xl auto 0;

    &__header {
        text-align: center;
        .form__title {
            font-size: $font-size_xl;
            font-weight: bold;
        }
        .form__description {
            margin-top: $space_m;
            text-align: left;
        }
    }
    &__body {
        .form__item {
            margin-top: $space_xxl;

            .form__label {
                display: block;
            }
            .form__note {
                margin-left: $space_m;
                font-size: $font-size_s;
            }
            .form__input {
                width: 100%;
                margin-top: $space_s;
                padding: 5px 10px;
                border: 2px solid $border-color_base;
                border-radius: 5px;

                &-file {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    opacity: 0;
                }
                &-err {
                    border: 3px solid rgb(255, 77, 77);
                    background: rgb(255, 204, 204);
                }
            }
            .form__preview {
                display: block;
                width: 150px;
                height: 150px;
                margin: 0 auto;
                background: #999;
                border-radius: 50%;

                &-err {
                    background: rgb(255, 204, 204);
                    border: 3px solid rgb(255, 77, 77);
                }
            }
            
            &-img {
                position: relative;
                text-align: center;
            }
        }
    }
    &__footer {
        margin-top: $space_3l;
        
        .link-container {
            margin-top: $space_3l;
            

            .form__link {
                display: block;
                margin-top: $space_s;
        
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    width: 100%;
    text-align: center;
    background: $bg-color_btn-submit;
    color: $font-color_btn;
    opacity: .5;

    &:hover {
    }
}